body {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(11, 233, 140);
    text-align: center;
    margin: 0;
    
}
#title {
    text-shadow: 0px 0px 2px whitesmoke;
    font-size: 100px;
}
div {
    background-image: url(space.webp);
    background-size: cover;
    height: 100vh;
    padding: 60px 0 40px 0;
}

.btn {
    padding: 6px 12px;
    background-color: #F5DFBB;
    border: none;
    font-family: inherit;
}

.ex {
    border-bottom: 4px solid white;
}
#mainlogo {
    width: 150px;
}
