@font-face {
    font-family: bebas;
    src: url(BebasNeue-Regular.ttf);
}

body {
    letter-spacing: 4px;
    background-color: #b7111b;
    color: #fafbf4;
    text-align: center;
    font-family: bebas;
}

h1 {
    font-size: 150px;
    padding-top: 150px;
    text-shadow: -5px 5px 5px black;
}
