body {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 60;
    font-style: normal;
}

.ad {
    background: #040F16;
    color: #FBFBFF;
    border: 5px solid #0B4F6C;
    text-align: center;
}

.cta {
    color: #01BAEF;
    border: 2px solid #01BAEF;
    padding: 5px 10px;
}

