.card {
    color: #8DAA91;
    background: #28112B;
    width: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    border: 10px solid #5E5D5C;
    border-radius: 30px;

    /* padding-right: 100px;        //question solution
        padding-top: 100px;
    */
    padding: 100px;
}

