div {
    text-align: center;
    color: whitesmoke;
    margin: 5px;
    padding: 25px 0;
    background: #e5383b;
    font-size: 30px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div:hover {
    background-color: #ba181b;
    font-size: 40px;
}

#cater:hover {
    background-image: url(cater.png);
}
#menu:hover {
    background-image: url(menu.png);
}

#menu:hover {
    background-image: url(table.png);
}
