body {
    margin: 10px;
    text-align: center;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}
/* h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
} */